@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Lato";
}

.wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  color: #4B5157;
}

.top-elements {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-bottom: 1px solid #D9DADB;
}

.sections {
  font-size: 14px;
  padding: 15px 20px 15px 0px;
  border-right: 1px solid #D9DADB;
  font-weight: 700;
}
.sections::before {
  content: url(../img/ico/hamburger.svg);
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.subscribe {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.subscribe__channel {
  margin-top: 7px;
  margin-right: 10px;
}

.sub-info {
  font-size: 12px;
}
.sub-info__top {
  font-weight: 700;
  margin-top: 11px;
}
.sub-info__bottom {
  color: #939699;
}

.middle {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 20px 15px 25px;
}
.search input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 733px;
  resize: none;
  font-size: 14px;
}
.search input::-webkit-input-placeholder {
  display: inline-block;
  font-size: 14px;
  color: #939699;
}
.search input::-moz-placeholder {
  display: inline-block;
  font-size: 14px;
  color: #939699;
}
.search input:-ms-input-placeholder {
  display: inline-block;
  font-size: 14px;
  color: #939699;
}
.search input::-ms-input-placeholder {
  display: inline-block;
  font-size: 14px;
  color: #939699;
}
.search input::placeholder {
  display: inline-block;
  font-size: 14px;
  color: #939699;
}
.search::before {
  content: url(../img/ico/search.svg);
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.subscribe {
  margin-left: auto;
  margin-right: 47px;
}

.sign-in {
  color: #4B5157;
  font-size: 14px;
}
.sign-in::before {
  content: url(../img/ico/Man.svg);
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
}

.header__middle {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle__slogan {
  font-size: 14px;
  color: #4B5157;
  padding-left: 15px;
}
.middle__title {
  font-family: "Lato Black";
  margin: 0 auto;
  font-size: 40px;
  font-weight: 900;
  color: #262D33;
}
.middle__date {
  margin-right: 70px;
  font-size: 14px;
}
.middle__weather {
  font-size: 14px;
}
.middle__weather::before {
  content: url(../img/ico/Sun.svg);
  margin-right: 13px;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .middle__slogan {
    font-size: 14px;
    color: #4B5157;
    padding-left: 5px;
  }
  .middle__date {
    margin-right: 10px;
    font-size: 14px;
  }
}
.header__down {
  background: #262D33;
  padding: 24px 0;
}

.nav-panel {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-panel__element a {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.short-news-block {
  background: #262D33;
  height: 475px;
}

.short-news {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #30363D;
  padding: 25px 0;
  border-radius: 10px;
}
.short-news__element {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding: 0 25px 0 25px;
  border-right: 1px solid #4B5157;
}
.short-news__element:last-child {
  border-right: none;
}
.short-news__title {
  color: #ffffff;
  font-size: 16px;
  width: 154px;
  height: 75px;
}
.short-news__image {
  height: 65px;
  width: 65px;
}

.white-block {
  height: 265px;
}
.white-block__banner {
  height: 570px;
  max-width: 1140px;
  margin: -287px auto 0 auto;
}

.banner {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.banner__banner-image-block {
  border-radius: 10px 0 0 10px;
  height: 570px;
  width: 877px;
  background: url(../img/banner-image.jpg);
  padding: 55px;
}
.banner__news-banner-block {
  border-radius: 0 10px 10px 0;
  width: 263px;
  background: #ffffff;
}

.block {
  background: #dfdfdf;
  height: 320px;
}

.banner-author {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 145px;
}
.banner-author__banner-image {
  margin-right: 10px;
  width: 45px;
  height: 45px;
}

.banner-text__author {
  display: block;
  font-size: 14px;
  padding-top: 4px;
  margin-bottom: 4px;
  color: #ffffff;
}
.banner-text__author-profession {
  font-size: 14px;
  color: #ffffff;
  opacity: 0.4;
}

.banner-text-block__title {
  font-size: 12px;
  color: #4592FF;
  margin-bottom: 45px;
}
.banner-text-block__slogan {
  font-size: 40px;
  color: #ffffff;
  width: 558px;
  font-weight: 700;
  margin-bottom: 45px;
}

.banner-actions-block {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.read-more {
  background: #4592FF;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 25px 10px 20px;
  margin-right: 30px;
  border-radius: 20px;
  text-align: center;
}
.read-more::after {
  content: url(../img/ico/Arrow.svg);
  font-weight: 700;
  margin-left: 5px;
  margin-bottom: 3px;
  display: inline-block;
  vertical-align: middle;
}

.play {
  padding: 15.25px;
  margin-right: 10px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.music-info {
  color: #ffffff;
}
.music-info__title {
  font-size: 14px;
  margin-bottom: 2px;
}
.music-info__time {
  font-size: 12px;
  opacity: 0.4;
}

.banner-block__title {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
}

.banner-block-element {
  border-top: 1px solid #D9DADB;
  padding: 25px;
}
.banner-block-element a {
  color: inherit;
}
.banner-block-element:hover {
  background: #F5F5F5;
}
.banner-block-element:hover .banner-block-element__triangle {
  position: relative;
  margin-top: -24px;
  right: 45px;
  top: 34px;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 12px;
  border-bottom-width: 12px;
  border-right: 20px solid #F5F5F5;
}
.banner-block-element:nth-child(1) {
  color: #3BBDC4;
}
.banner-block-element:nth-child(2) {
  color: #6E99AE;
}
.banner-block-element:nth-child(3) {
  color: #AC8EE3;
}
.banner-block-element:nth-child(4) {
  color: #FFA34D;
}
.banner-block-element:nth-child(5) {
  color: #3DC47E;
}
.banner-block-element__title {
  font-size: 12px;
}
.banner-block-element__text {
  color: #4B5157;
  margin-top: 8px;
}

.news-feed {
  background: #dfdfdf;
}

.news-feed-block {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 0;
}

.news-feed-block-left {
  padding-right: 30px;
}

.feed-top-block {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}

.feed-down-block {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.car-feed-block {
  height: 370px;
  margin-right: 29px;
  padding: 35px 0 18px 35px;
  background: #fff;
  width: 555px;
  border-radius: 10px;
}

.car-feed-block-top {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.car-feed-block-top__image {
  width: 292px;
  height: 299px;
}

.car-text-block__short-title {
  color: #6E99AE;
  font-size: 12px;
  padding-bottom: 20px;
}
.car-text-block__title {
  color: #262D33;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 25px;
}
.car-text-block__text {
  color: #4B5157;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.car-feed-block-down {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.car-feed-block-down__author-image {
  padding-right: 10px;
}
.car-feed-block-down__author {
  color: #262D33;
  font-size: 14px;
  font-weight: 700;
  padding-right: 5px;
}
.car-feed-block-down__comment {
  color: #4B5157;
  font-size: 14px;
  padding-right: 15px;
}
.car-feed-block-down__comment-counter {
  color: #939699;
  font-size: 12px;
}
.car-feed-block-down__comment-counter::before {
  content: url(../img/ico/socmedia/Comment.svg);
  padding-right: 5px;
}

.feed-right-image {
  width: 263px;
  height: 370px;
  background: url(../img/feed/hand-block/bg.jpg);
  border-radius: 10px;
}

.feed-down-block__cat-feed-block {
  width: 263px;
  height: 370px;
  border-radius: 10px;
}

.feed-down-block {
  margin-bottom: 60px;
}

.right-short-news-block {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 555px;
}

.cat-feed-block {
  margin-right: 29px;
}

.right-short-news-block-element {
  max-width: 263px;
  height: 170px;
  padding: 25px 25px 0 25px;
  background: #fff;
  border-radius: 10px;
}
.right-short-news-block-element:nth-child(2n+1) {
  margin-right: 29px;
}
.right-short-news-block-element__title {
  color: #262D33;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.right-short-news-block-element__text {
  color: #4B5157;
  font-size: 14px;
  margin-bottom: 10px;
}
.right-short-news-block-element__date {
  color: #939699;
  font-size: 12px;
}

.news-feed-block-right {
  height: 755px;
  width: 263px;
  background: #6E99AE;
  border-radius: 10px;
  color: #FFFFFF;
}
.news-feed-block-right__title {
  padding: 20px 25px 19px 25px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: left;
  border-bottom: 1px solid #B4D1E0;
}
.news-feed-block-right__read-more {
  text-align: center;
  padding: 11px 0 0 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
}

.right-feed-article {
  margin: 0 35px 0 35px;
  padding: 45px 0 43px 0;
  border-bottom: 1px solid #B4D1E0;
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.right-feed-article__title {
  position: relative;
  width: 203px;
  z-index: 0;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 19px;
}
.right-feed-article__title::before {
  position: absolute;
  left: -10px;
  top: -10px;
  height: 40px;
  width: 40px;
  z-index: -1;
  content: url(../img/ico/blue-block/Quote.svg);
}

.right-feed-article-author {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #D1E2EB;
}
.right-feed-article-author__image {
  margin: 0 10px 0 0;
}

.flower-block {
  background: url(../img/flower-bg.jpg);
  height: 270px;
}

.flower-content {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flower-content__title {
  width: 700px;
  margin: 0 auto;
  color: #fff;
  font-family: Roboto Slab;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: center;
}
.flower-content__read-more {
  width: 138px;
  margin: 0 auto;
  margin-top: 25px;
}

.blue {
  color: #4592FF;
}

.blue-green {
  color: #3BBDC4;
}

.light-red {
  color: #FF4F52;
}

.purple {
  color: #AC8EE3;
}

.feed-block {
  background: #dfdfdf;
}

.feed-main {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 10px;
}

.feed-main-list-element {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 848pxb;
  height: 245px;
  background: #fff;
  padding: 25px;
}
.feed-main-list-element:first-child {
  border-radius: 5px 5px 0 0;
}
.feed-main-list-element:last-child {
  border-radius: 0 0 5px 5px;
}

.feed-main-list {
  margin-right: 29px;
}
.feed-main-list__image {
  padding-right: 25px;
}

.feed-main-list-text-block {
  width: 437px;
}
.feed-main-list-text-block__short-title {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
  margin: 5px 0 15px 0;
}
.feed-main-list-text-block__title {
  color: #262D33;
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 10px;
}
.feed-main-list-text-block__text {
  color: #4B5157;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 20px;
}

.socmedia-block {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #939699;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}
.socmedia-block__date {
  margin-right: 10px;
}
.socmedia-block__comment {
  margin-right: 10px;
}
.socmedia-block__comment::before {
  content: url(../img/ico/socmedia/Comment.svg);
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
}
.socmedia-block__likes::before {
  content: url(../img/ico/socmedia/Heart.svg);
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.feed-main-recommend {
  height: 770px;
  border-radius: 10px;
  background: #fff;
}
.feed-main-recommend__for-you {
  border-bottom: 1px solid #D9DADB;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 25px 19px 20px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-weight: 700;
}
.feed-main-recommend__read-more {
  border-top: 1px solid #D9DADB;
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  font-weight: 700;
  text-align: center;
  padding-top: 11px;
}

.news-list {
  padding: 0 25px 0 25px;
}

.news-list-element {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #D9DADB;
  padding-bottom: 17px;
  padding-top: 17px;
}
.news-list-element__image {
  margin-right: 10px;
}
.news-list-element:last-child {
  border-bottom: none;
}

.news-list-element-text-block__title {
  color: #4B5157;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 143px;
}
.news-list-element-text-block__date {
  color: #939699;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.bricks {
  background: #262D33;
}

.bricks-block {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px 0;
}

.bricks-block-left {
  margin-right: 30px;
  background: url(../img/bricks/bg.jpg);
  width: 555px;
  border-radius: 10px;
}
.bricks-block-left__hot {
  padding: 10px;
  background: #FF4F52;
  width: 45px;
  color: #fff;
  margin: 18px 0 7px 18px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px;
}
.bricks-block-left__author-image {
  display: block;
  width: 45px;
  height: 45px;
  text-align: center;
  margin: 0 auto;
}
.bricks-block-left__author {
  color: #fff;
  opacity: 0.85;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.bricks-block-left__job {
  color: #fff;
  opacity: 0.4;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}
.bricks-block-left__title {
  color: #fff;
  width: 455px;
  font-family: Roboto Slab;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  margin: 0 auto 45px auto;
}
.bricks-block-left__watch-photos {
  text-align: center;
  margin: 0 auto 105px auto;
}

.ball-active {
  opacity: 0;
}

.balls-walls {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 46px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.balls-walls__outer-ball {
  margin-right: 17px;
  height: 20px;
  width: 20px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
}
.balls-walls__outer-ball:hover {
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.balls-walls__inner-ball {
  margin-left: 4px;
  margin-top: 3.8px;
  position: relative;
  display: block;
  height: 8px;
  width: 8px;
  background-color: #D9DADB;
  border-radius: 50%;
}
.balls-walls__inner-ball:hover .ball-active {
  position: absolute;
  left: -5px;
  top: -5.8px;
  opacity: 1;
  height: 20px;
  width: 20px;
}
.balls-walls__inner-ball:last-child {
  margin-right: 0px;
}

.bricks-block-right-top {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #B4D1E0;
  border-radius: 10px;
  padding: 18px 30px 0 35px;
}
.bricks-block-right-top__image {
  margin-left: -42px;
}

.bricks-block-right-top-text-block__short-title {
  color: #6E99AE;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}
.bricks-block-right-top-text-block__title {
  width: 243px;
  color: #262D33;
  font-family: Roboto Slab;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 15px;
}
.bricks-block-right-top-text-block__text {
  width: 213px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 25px;
}
.bricks-block-right-top-text-block__read-more {
  width: 138px;
}

.bricks-block-right-down {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bricks-block-right-down-block {
  background: #fff;
  width: 263px;
  margin-top: 30px;
  border-radius: 5px;
  padding: 25px;
}
.bricks-block-right-down-block:first-child {
  margin-right: 29px;
}
.bricks-block-right-down-block__title {
  font-family: Roboto Slab;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: #262D33;
}
.bricks-block-right-down-block__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4B5157;
}
.bricks-block-right-down-block__date {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #939699;
}

.footer-block__title {
  font-family: Roboto Slab;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 60px;
}

.footer-block-subscribe {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 70px;
}
.footer-block-subscribe__input {
  border: 1px solid #D9DADB;
  border-radius: 5px;
  margin-right: 10px;
  height: 40px;
  width: 313px;
}
.footer-block-subscribe__input::-webkit-input-placeholder {
  display: inline-block;
  font-size: 14px;
  color: #939699;
}
.footer-block-subscribe__input::-moz-placeholder {
  display: inline-block;
  font-size: 14px;
  color: #939699;
}
.footer-block-subscribe__input:-ms-input-placeholder {
  display: inline-block;
  font-size: 14px;
  color: #939699;
}
.footer-block-subscribe__input::-ms-input-placeholder {
  display: inline-block;
  font-size: 14px;
  color: #939699;
}
.footer-block-subscribe__input::placeholder {
  display: inline-block;
  font-size: 14px;
  color: #939699;
}
.footer-block-subscribe__button {
  padding: 10px 28.9px;
  border-radius: 60px;
  background: #4592FF;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.footer-block-navigator {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 64px;
  margin-bottom: 45px;
  border-bottom: 1px solid #D9DADB;
}

.footer-block-navigator-column {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  max-width: 229px;
  font-size: 14px;
  line-height: 20px;
  padding-top: 30px;
}
.footer-block-navigator-column:nth-child(1) {
  border-top: 5px solid #FF4F52;
}
.footer-block-navigator-column:nth-child(2) {
  border-top: 5px solid #AC8EE3;
}
.footer-block-navigator-column:nth-child(3) {
  border-top: 5px solid #4592FF;
}
.footer-block-navigator-column:nth-child(4) {
  border-top: 5px solid #FFA34D;
}
.footer-block-navigator-column:nth-child(5) {
  border-top: 5px solid #3DC47E;
}
.footer-block-navigator-column:nth-child(6) {
  border-top: 5px solid #6E99AE;
}
.footer-block-navigator-column__title {
  margin-bottom: 25px;
  color: #262D33;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.footer-block-navigator-column__title:last-child {
  margin-bottom: 0;
}
.footer-block-navigator-column__title:hover {
  text-decoration: underline;
}
.footer-block-navigator-column__element {
  margin-bottom: 15px;
  color: #4B5157;
  font-weight: 400;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.footer-block-navigator-column__element:hover {
  text-decoration: underline;
}

.footer-block-share {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-block-share__share-left {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-block-share__share-right {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-block-copyright {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-block-share {
  border-bottom: 1px solid #D9DADB;
  margin-bottom: 40px;
}

.share-left {
  margin-bottom: 29px;
}
.share-left img {
  margin-right: 30px;
}
.share-left__title {
  margin-right: 30px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #262D33;
  font-weight: 700;
}
.share-left__title:hover {
  text-decoration: underline;
}

.share-right a:hover {
  opacity: 0.9;
}
.share-right img {
  margin-right: 15px;
}

.footer-block-copyright {
  display: -moz-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #939699;
  padding-bottom: 55px;
}
.footer-block-copyright__left {
  max-width: 750px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.footer-block-copyright__right {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}